.ctn-home{
   background-color: #242424;
}

.underline-on-hover:hover {
   text-decoration: underline;
}

.ctn-home{
   border-radius: 1em;
   box-shadow: 3px -3px 1px rgba(255, 255, 255, 0.426);
}

.ctn-carrosel-musicas-helper{
   border-bottom: 10px solid black;
   /* background-color: #242424; */

}

.carroseis{
   border-right: 10px solid black;
}