@import url(https: //fonts.google.com/specimen/Montserrat?query=montserrat);

body {
    background-color: #242424;
    font: monstserrat, serif;
    color: #fff;
}

header {
    margin: 1em;
}

.logo {
    float: left;
}

.entrar {
    float: right;
    margin-top: 18px;
    margin-left: 550px;
    color: #fff;
    text-decoration: underline #fff;
}

.entrar a {
    color: #fff;
}

.elemento h5 {
    margin-top: 8px;
}

.elemento h6 {
    margin-top: -5px;
}

.elemento p {
    margin-top: -8px;
    font-size: medium;
}

.capa_album {
    width: 180px;
}

.sessao_lateral {
    background-color: #343434;
    padding: 2em;
}

.titulo_lateral {
    text-align: center;
}

.titulo_lateral h4 {
    margin-top: -16px;
    margin-bottom: -8px;
}

.elemento_lateral {
    margin-top: 24px;
}

.perfil_lateral {
    width: 56px;
    border-radius: 100%;
    float: left;
    margin-right: 8px;
}

.titulo_lateral2 {
    text-align: center;
    margin-top: 24px;
}

.titulo_lateral2 h2 {
    margin-top: -8px;
    margin-bottom: -8px;
}