.ctnMain{
   font-size: 30px;
   height: auto;
   /* background-color: blueviolet; */
}

.ctnMain img {
   width: 100%;
   margin: left;
   object-fit: cover; 
   margin-bottom: .1em;
}

p{
   margin: 0;
   padding: 0;
   font-weight: 450;
}

.musica{
   font-size: .7em;
   cursor: pointer;
}

.artista{
   margin-top: -.2em;
   font-size: .55em;
   cursor: pointer;
}

p:hover{
   text-decoration: underline;
   
}

