.ctn-navbar {
  background-color: var(--cor1);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.426);
}

.link-ativo {
  font-weight: 800;
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.3em;
}

.ctn-list{
  margin-left: 2em;
}

.list-inline-item a {
  font-style: italic;
  font-size: 1.3em;
  color: white;
  margin-right: 1.5em;
  text-decoration: none;
}

.list-inline-item a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.3em;
}

ul {
  padding: 0;
  margin: 0;
}

.ctn-profile-navbar{
  position: relative;
}

.ctn-profile-navbar p {
  font-size: 1.2em;
}

.ctn-profile-navbar > .profile-pic{
  width: 3em;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5em;
}

.ctn-user-options {
  opacity: 0;
  position: absolute;
  top: 110%;
  width: 65%;
  background-color: var(--cor1);
  border: 0.2em solid var(--corBranca);
  padding: 10px;
  transition: opacity 0.3s;
}

.ctn-user-options ul{
  list-style: none;
}

.ctn-user-options ul li:hover{
text-decoration: underline;
}

.ctn-profile-navbar:hover .ctn-user-options {
  opacity: 1;
}

.seta-para-baixo {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 13px solid white; 
  position: absolute;
  top: -35%; 
  left: 91%; 
  transform: translateX(-50%) rotate(180deg);
}

.ctn-usuario-deslogado {
}


.ctn-usuario-deslogado p{
  font-size: 1.2em;
  margin: 0;
  font-weight: 600;
}

.ctn-usuario-deslogado p:hover{
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.3em;
}