/* .ctn-cartao-artista .artista-nome{
   font-size: .7em;
   font-weight: bolder;
   line-height: normal;
   display: inline-block; */
   /* margin: 0;
   padding: 0 0px; */
/* } */

/* .artista-nome-scroll {
   width: 100%;
   overflow: scroll;
   white-space: nowrap;
   -ms-overflow-style: none;  /* IE and Edge */
   /* scrollbar-width: none;  Firefox */
/* }  */

/* .artista-nome-scroll::-webkit-scrollbar {
   display: none;
}
  */