.ctn-criar-publicacao {
   position: relative;
   background-color: #242424;
   border-radius: 8px;
   text-align: center;
   padding: 20px 10px;
   width: 50vw;
   box-shadow: -3px 3px 5px rgba(255, 255, 255, 0.426);
}

.ctn-criar-publicacao .form-infos-publicacao ::placeholder {
   color: rgba(255, 255, 255, 0.456);
}

.form-infos-publicacao label {
   display: block;
   margin-bottom: 0.2em;
   font-size: 1.3em;
}

.form-infos-publicacao input {
   font-size: 1.1em;
   display: block;
   border: none;
   outline: none;
   text-decoration: none;
   background-color: rgba(0, 0, 0, 0.3);
   background-color: rgba(0, 0, 0, 0.755);
   padding: 0.3em;
   width: 100;
}
.ctn-fazer-comentario textarea{
   font-size: 1.1em;
   width: 100%;
   height: 10em;
   background-color: rgba(0, 0, 0, 0.755);
   border: none;
   outline: none;
   resize: none;
   border: 1px solid rgba(255, 255, 255, 0.192);
   padding: 0.3em;
}
.ctn-fazer-comentario textarea:focus{
   outline: 2px solid rgba(255, 255, 255, 0.682);
}

textarea :focus{
   outline: 2px solid rgba(255, 255, 255, 0.682);
}

.form-infos-publicacao .info {
   width: 100%;
   border-radius: 5px;
}

.ctn-buscar-musicas{
   border-radius: 5px;
   margin-bottom: 0.5em;
   border: 1px solid rgba(255, 255, 255, 0.192);
}

.ctn-buscar-musicas input:focus {
   outline: 2px solid rgba(255, 255, 255, 0.682);
}

.ctn-btn-publicar{
   border: 2px solid rgba(255, 255, 255, 0.297);
}

.ctn-btn-publicar:hover {
background-color: rgba(255, 255, 255, 0.682);
border: 2px solid rgba(255, 255, 255, 0.682);
}
